.App {
  text-align: center;
}

section {
  margin: 0 auto;
  width: 600px;
}

h1 {
  text-transform: uppercase;
}

.quote {
  font-style: italic;
  text-align: left;
}

.button {
  margin-left: 5px;
  width: 80px;
}